<div class="uv-single-contest uv-course-details">
    <div class="container">
        <div class="educationpress-main-content-inner row">
            <div id="primary" class="content-area col-md-10 col-sm-12 col-md-offset-1">
                <h3 style="margin-left: 25px">Répondre au question</h3>

                <div class="uv-profile-setting-inner" style="padding: 20px;">
                    <div class="row">
                        {{ form_start(form) }}
                        <div class="col-lg-12">
                            {{ form_row(form.texte) }}
                        </div>
                        {{ form_widget(form) }}
                        <div class="col-xs-12">
                            <input type="submit" value="Répondre" class="btn btn-fill">
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
