.tooltip-error + .tooltip > .tooltip-inner {
    background-color: #c94d32;
    color: #FFF;
    text-shadow: 1px 1px 0 rgba(100, 60, 20, 0.3);
    border-radius: 0
}

.tooltip-error + .tooltip.top .tooltip-arrow {
    border-top-color: #c94d32
}

.tooltip-error + .tooltip.right .tooltip-arrow {
    border-right-color: #c94d32
}

.tooltip-error + .tooltip.left .tooltip-arrow {
    border-left-color: #c94d32
}

.tooltip-error + .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #c94d32
}

.tooltip-success + .tooltip > .tooltip-inner {
    background-color: #629b58;
    color: #FFF;
    text-shadow: 1px 1px 0 rgba(60, 100, 20, 0.3);
    border-radius: 0
}

.tooltip-success + .tooltip.top .tooltip-arrow {
    border-top-color: #629b58
}

.tooltip-success + .tooltip.right .tooltip-arrow {
    border-right-color: #629b58
}

.tooltip-success + .tooltip.left .tooltip-arrow {
    border-left-color: #629b58
}

.tooltip-success + .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #629b58
}

.tooltip-warning + .tooltip > .tooltip-inner {
    background-color: #ed9421;
    color: #FFF;
    text-shadow: 1px 1px 0 rgba(100, 90, 10, 0.3);
    border-radius: 0
}

.tooltip-warning + .tooltip.top .tooltip-arrow {
    border-top-color: #ed9421
}

.tooltip-warning + .tooltip.right .tooltip-arrow {
    border-right-color: #ed9421
}

.tooltip-warning + .tooltip.left .tooltip-arrow {
    border-left-color: #ed9421
}

.tooltip-warning + .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #ed9421
}

.tooltip-info + .tooltip > .tooltip-inner {
    background-color: #4b89aa;
    color: #FFF;
    text-shadow: 1px 1px 0 rgba(40, 50, 100, 0.3);
    border-radius: 0
}

.tooltip-info + .tooltip.top .tooltip-arrow {
    border-top-color: #4b89aa
}

.tooltip-info + .tooltip.right .tooltip-arrow {
    border-right-color: #4b89aa
}

.tooltip-info + .tooltip.left .tooltip-arrow {
    border-left-color: #4b89aa
}

.tooltip-info + .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #4b89aa
}
