<footer class="uv-footer footer-bg section-separator" style="padding-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="footer-item">
                    <h6>Contact School</h6>
                    <address>23621 15 Mile Rd #C104, Clinton MI, 48035, New York, USA</address>
                    <ul>
                        <li><a href="#"><i class="fa fa-phone"></i>+1 (2) 345 6789</a></li>
                        <li><a href="#"><i class="fa fa-phone"></i>+1 (2) 345 6789</a></li>
                        <li><a href="#"><i class="fa fa-envelope-o"></i>contact@curricular.com</a></li>
                    </ul>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="footer-item uv-program">
                    <h6>Our Programs</h6>
                    <ul>
                        <li><a href="#">Architecture, Building & Planning</a></li>
                        <li><a href="#">Biological Sciences</a></li>
                        <li><a href="#">Business & Administrative Studies</a></li>
                        <li><a href="#">Computer Science</a></li>
                        <li><a href="#">Creative Arts & Design</a></li>
                        <li><a href="#">Medicine and Related Subjects</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="footer-item">
                    <h6>Our Resources</h6>
                    <ul>
                        <li><a href="#">Student Resources</a></li>
                        <li><a href="#">Career Development</a></li>
                        <li><a href="#">Information Technology</a></li>
                        <li><a href="#">Diversity & Access</a></li>
                        <li><a href="#">Dining Services</a></li>
                        <li><a href="#">Housing & Residence Life</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
                <div class="footer-item">
                    <h6>Newsletter</h6>
                    <p>Enter your email and we'll send you more information of courses and scholarship.</p>
                    <form class="uv-form footer-form">
                        <div class="form-group relative">
                            <div class="relative">
                                <input type="text" class="form-control" placeholder="Email Address" required>
                            </div>
                        </div>
                        <div class="footer-subs-btn">
                            <button type="submit" class="btn btn-base" value="subscribe">Subcribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr class="f-hr">
        <div class="row">
            <div class="uv-copyright center wow fadeInUp" data-wow-delay="0.5s">
                <p> © Copyright Curricular 2018. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>